<script>
  $(function() {
    $('.sections-item').sortable({
      update: function(event,ui) {
       $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: {row_order_position: ui.item.index() }}
       });
      }
    });
  });
</script>







<br/>
<div class = "col-8 offset-2" >
  
  <div style ="text-align: right;">    
    
    <div class="btn-group">
      <button type="button" class="btn btn-warning dropdown-toggle round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Course Options
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Edit Course Details</a>
        <a class="dropdown-item" href="#">Delete Course</a>
      </div>
    </div>

    <%= link_to 'Switch to Student View', course_path(@course), class: "btn btn-info round" %>

  </div>
  <br/>
  <h1> <%= @course.title %>  </h1>
  <p> <%= @course.description %> </p>
  <div class="badge badge-pill badge-danger"><%= @course.category %></div>
  <div>
    <span class = "text-muted" style = "font-size: 10px;"> By <span class = "font-weight-bold"><%= @course.user.email %></span> on <%= @course.created_at.strftime("%B %d, %Y") %></span>
  <div>

  <div style ="text-align: right;">  
    <%= link_to '+ Add a Section', new_instructor_course_section_path(@course), class: "btn btn-success round" %>

  </div>

  <br/>
  <h6 style = "text-align: center; color:grey; font-style: italic;">Click and drag to edit section order</h6>

  <div class = "sections-item">

  <% @course.sections.rank(:row_order).each do |section| %>



      <div class="card round" data-update-url="<%= instructor_section_path(section) %>" style="background-color: #fff8db" >
        <div class="card-body" >

          <button type="button" class="btn btn-outline-danger btn-sm round">Delete</button>
          <button type="button" class="btn btn-outline-primary btn-sm round">Edit Section</button>
          
          <hr/>

          <h6 class="card-subtitle mb-2 text-muted" style="font-size: 10px;">Last updated on <%= section.updated_at.strftime("%B %d, %Y") %> </h6>
          <h5 class="card-title"><%= section.title %></h5>
          

            <div class="accordion" id="accordionExample">             
                  <div  id="heading<%= section.id %>" style = "text-align: center">
                    <h2 class="mb-0">
                      <button class="btn btn-dark btn-sm round collapsed" type="button" data-toggle="collapse" data-target="#<%= section.id %>" aria-expanded="false" aria-controls="<%= section.id %>">
                      Show Section Contents          
                      </button>
                    </h2>
                  </div>

                  <div id="<%= section.id %>" class="collapse " aria-labelledby="heading<%= section.id %>" data-parent="#accordionExample">
                    <div class="card-body">
                        <%= section.content.html_safe %>
                        
                    </div>
                  </div>    
            </div>          
                    

          
        </div>
      </div>  



  <% end %>

  </div>

</div>

<br/>
<br/>