<br/> 


    <% @courses.each do |course| %>  

      <div class = "offset-md-3" style = "width: 70%;">   
          <div class = "card-body">
            <span class="badge badge-pill badge-danger"><%= course.category %></span>
            <br/>
            <%= link_to course.title , course_path(course), class: 'card-course-title' %>
            
              <p class=" card-box text-muted font-italic" style="max-width: 75%; min-height: 100px;">
                <b style="font-size:20px;">"</b>
                 <%= course.description %>
                <b style="font-size:20px;">"</b>
              </p>
            
              <span class = "text-muted" style = "font-size: 10px;"> By <span class = "font-weight-bold"><%= course.user.email %></span> on <%= course.created_at.strftime("%B %d, %Y") %></span>
              <a href="#" class="card-link">...</a>  

          </div>
          <hr style="width:75%;text-align:left;margin-left:0">
      </div>





    <% end %>


