<!DOCTYPE html>

<html>
  <head>
    <title>SPet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>





      <nav class="navbar sticky-top navbar-toggleable-md navbar-light" >
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
          <%= link_to 'sPET.', root_path, class: 'navbar-brand' %>

          
          

                  

          <ul class="navbar-nav ml-auto" style = "margin-right:100px;"> 
            


            <li class="nav-item" >

                <%= link_to 'Explore', courses_path, class: 'btn btn-primary btn-sm round' %>

            </li>



            <% if user_signed_in? %>

              <li class="nav-item dropdown" >
                <a class=" dropdown-toggle btn btn-secondary btn-sm round" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                  Dashboard
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to '+Create Course', new_instructor_course_path, class: "dropdown-item"%> 
                  <div class="dropdown-divider"></div>
                  <%= link_to 'My Planner', user_path(current_user), class: "dropdown-item" %>

              </li>

              <div class= " nav-item vl" style="margin-left: 4px;"></div>
             
              <li class="nav-item">
               <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure you want to Logout?'}, class: 'btn btn-outline-danger btn-sm round' %>
              </li>

            <% else %>
              <div class= " nav-item vl" style="margin-left: 4px;"></div>
              <li class="nav-item">
                <%= link_to 'Login', new_user_session_path, class: 'nav-link  ' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link ' %>
              </li>
            <% end %>


          </ul>
        </div>

      </nav>   

      <% if notice.present? %>
        <p class = "alert alert-info"><%= notice %></p>
      <% end %>

      <% if alert.present? %>
        <p class = "alert alert-danger" style = "text-align: center;"><%= alert %></p>
      <% end %>

      


    <%= yield %>


  </body>







</html>


